__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
.eggs/
build/
dist/

.venv/
venv/
env/
ENV/

.pytest_cache/
.mypy_cache/
.pyre/
.cache/
.coverage
.coverage.*
htmlcov/
*.log

db.sqlite3
db.sqlite3-journal
*.sqlite3
local_settings.py

.env
.env.*

media/
staticfiles/

.vscode/
.idea/

.DS_Store
