-- MySQL dump 10.13  Distrib 8.0.42, for Win64 (x86_64)
--
-- Host: localhost    Database: ticket_system
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
INSERT INTO `auth_group` VALUES (1,'Agent');
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=161 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user`
--

DROP TABLE IF EXISTS `auth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=233 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_groups`
--

DROP TABLE IF EXISTS `auth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_groups_user_id_group_id_94350c0c_uniq` (`user_id`,`group_id`),
  KEY `auth_user_groups_group_id_97559544_fk_auth_group_id` (`group_id`),
  CONSTRAINT `auth_user_groups_group_id_97559544_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `auth_user_groups_user_id_6a12ed8b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
INSERT INTO `auth_user_groups` VALUES (1,4,1);
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_user_permissions`
--

DROP TABLE IF EXISTS `auth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_user_permissions_user_id_permission_id_14a6b632_uniq` (`user_id`,`permission_id`),
  KEY `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_payment`
--

DROP TABLE IF EXISTS `core_payment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_payment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `amount` decimal(10,2) NOT NULL,
  `currency` varchar(3) NOT NULL,
  `status` varchar(20) NOT NULL,
  `stripe_payment_intent_id` varchar(100) DEFAULT NULL,
  `payment_method` varchar(50) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `subscription_id` bigint DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `core_payment_subscription_id_2b0568b8_fk_core_subscription_id` (`subscription_id`),
  KEY `core_payment_user_id_274e164a_fk_auth_user_id` (`user_id`),
  CONSTRAINT `core_payment_subscription_id_2b0568b8_fk_core_subscription_id` FOREIGN KEY (`subscription_id`) REFERENCES `core_subscription` (`id`),
  CONSTRAINT `core_payment_user_id_274e164a_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_payment`
--

LOCK TABLES `core_payment` WRITE;
/*!40000 ALTER TABLE `core_payment` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_payment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_plan`
--

DROP TABLE IF EXISTS `core_plan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_plan` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `slug` varchar(120) NOT NULL,
  `description` longtext NOT NULL,
  `plan_type` varchar(20) NOT NULL,
  `price_monthly` decimal(10,2) NOT NULL,
  `price_quarterly` decimal(10,2) DEFAULT NULL,
  `price_annually` decimal(10,2) DEFAULT NULL,
  `price_biennial` decimal(10,2) DEFAULT NULL,
  `currency` varchar(3) NOT NULL,
  `billing_cycles` varchar(20) NOT NULL,
  `trial_days` int unsigned NOT NULL,
  `trial_features` json NOT NULL,
  `max_users` int unsigned DEFAULT NULL,
  `max_tickets_per_month` int unsigned DEFAULT NULL,
  `max_agents` int unsigned DEFAULT NULL,
  `storage_limit_gb` int unsigned DEFAULT NULL,
  `api_calls_per_month` int unsigned DEFAULT NULL,
  `features` json NOT NULL,
  `status` varchar(20) NOT NULL,
  `is_popular` tinyint(1) NOT NULL,
  `sort_order` int unsigned NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `metadata` json NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  UNIQUE KEY `slug` (`slug`),
  KEY `core_plan_status_fff732_idx` (`status`,`plan_type`),
  KEY `core_plan_is_popu_d00838_idx` (`is_popular`,`sort_order`),
  CONSTRAINT `core_plan_chk_1` CHECK ((`trial_days` >= 0)),
  CONSTRAINT `core_plan_chk_2` CHECK ((`max_users` >= 0)),
  CONSTRAINT `core_plan_chk_3` CHECK ((`max_tickets_per_month` >= 0)),
  CONSTRAINT `core_plan_chk_4` CHECK ((`max_agents` >= 0)),
  CONSTRAINT `core_plan_chk_5` CHECK ((`storage_limit_gb` >= 0)),
  CONSTRAINT `core_plan_chk_6` CHECK ((`api_calls_per_month` >= 0)),
  CONSTRAINT `core_plan_chk_7` CHECK ((`sort_order` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_plan`
--

LOCK TABLES `core_plan` WRITE;
/*!40000 ALTER TABLE `core_plan` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_plan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_planfeature`
--

DROP TABLE IF EXISTS `core_planfeature`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_planfeature` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `display_name` varchar(100) NOT NULL,
  `description` longtext NOT NULL,
  `feature_type` varchar(20) NOT NULL,
  `default_value` json NOT NULL,
  `icon` varchar(50) NOT NULL,
  `category` varchar(50) NOT NULL,
  `is_premium` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_planfeature`
--

LOCK TABLES `core_planfeature` WRITE;
/*!40000 ALTER TABLE `core_planfeature` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_planfeature` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_planfeaturemapping`
--

DROP TABLE IF EXISTS `core_planfeaturemapping`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_planfeaturemapping` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `value` json NOT NULL,
  `is_enabled` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `feature_id` bigint NOT NULL,
  `plan_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_planfeaturemapping_plan_id_feature_id_6cb04b43_uniq` (`plan_id`,`feature_id`),
  KEY `core_planfeaturemapp_feature_id_c61375ab_fk_core_plan` (`feature_id`),
  CONSTRAINT `core_planfeaturemapp_feature_id_c61375ab_fk_core_plan` FOREIGN KEY (`feature_id`) REFERENCES `core_planfeature` (`id`),
  CONSTRAINT `core_planfeaturemapping_plan_id_fb75013a_fk_core_plan_id` FOREIGN KEY (`plan_id`) REFERENCES `core_plan` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_planfeaturemapping`
--

LOCK TABLES `core_planfeaturemapping` WRITE;
/*!40000 ALTER TABLE `core_planfeaturemapping` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_planfeaturemapping` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_subscription`
--

DROP TABLE IF EXISTS `core_subscription`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_subscription` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `status` varchar(20) NOT NULL,
  `current_period_start` datetime(6) DEFAULT NULL,
  `current_period_end` datetime(6) DEFAULT NULL,
  `trial_start` datetime(6) DEFAULT NULL,
  `trial_end` datetime(6) DEFAULT NULL,
  `amount` decimal(10,2) NOT NULL,
  `currency` varchar(3) NOT NULL,
  `stripe_subscription_id` varchar(100) DEFAULT NULL,
  `metadata` json NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `plan_id` bigint DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  KEY `core_subscription_plan_id_0e74cf05_fk_core_plan_id` (`plan_id`),
  CONSTRAINT `core_subscription_plan_id_0e74cf05_fk_core_plan_id` FOREIGN KEY (`plan_id`) REFERENCES `core_plan` (`id`),
  CONSTRAINT `core_subscription_user_id_47899df3_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_subscription`
--

LOCK TABLES `core_subscription` WRITE;
/*!40000 ALTER TABLE `core_subscription` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_subscription` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dashboards_faq`
--

DROP TABLE IF EXISTS `dashboards_faq`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dashboards_faq` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `question` varchar(512) NOT NULL,
  `answer` longtext NOT NULL,
  `category` varchar(120) NOT NULL,
  `order` int NOT NULL,
  `is_published` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dashboards_faq`
--

LOCK TABLES `dashboards_faq` WRITE;
/*!40000 ALTER TABLE `dashboards_faq` DISABLE KEYS */;
/*!40000 ALTER TABLE `dashboards_faq` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dashboards_sitesettings`
--

DROP TABLE IF EXISTS `dashboards_sitesettings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dashboards_sitesettings` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `company_name` varchar(200) NOT NULL,
  `website_url` varchar(200) NOT NULL,
  `contact_email` varchar(254) NOT NULL,
  `contact_phone` varchar(50) NOT NULL,
  `address` longtext NOT NULL,
  `default_language` varchar(50) NOT NULL,
  `time_zone` varchar(50) NOT NULL,
  `date_format` varchar(20) NOT NULL,
  `time_format` varchar(20) NOT NULL,
  `first_day_of_week` int NOT NULL,
  `currency` varchar(50) NOT NULL,
  `maintenance_mode` tinyint(1) NOT NULL,
  `user_registration` tinyint(1) NOT NULL,
  `email_verification` tinyint(1) NOT NULL,
  `remember_me` tinyint(1) NOT NULL,
  `show_tutorial` tinyint(1) NOT NULL,
  `theme` varchar(10) NOT NULL,
  `primary_color` varchar(7) NOT NULL,
  `fixed_header` tinyint(1) NOT NULL,
  `fixed_sidebar` tinyint(1) NOT NULL,
  `collapsed_sidebar` tinyint(1) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `allow_ticket_reopen` tinyint(1) NOT NULL,
  `auto_ticket_assignment` tinyint(1) NOT NULL,
  `default_ticket_priority` varchar(20) NOT NULL,
  `default_ticket_status` varchar(50) NOT NULL,
  `first_response_hours` int NOT NULL,
  `resolution_time_hours` int NOT NULL,
  `sla_business_hours` varchar(100) NOT NULL,
  `collapsed_logo` tinyint(1) NOT NULL,
  `company_logo` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dashboards_sitesettings`
--

LOCK TABLES `dashboards_sitesettings` WRITE;
/*!40000 ALTER TABLE `dashboards_sitesettings` DISABLE KEYS */;
INSERT INTO `dashboards_sitesettings` VALUES (1,'Ultrakey it solutions ','https://tickethub.example.com','support@ultrakeyit.com','9032902290','Flat No: 204, 2nd Floor, Cyber Residency, above Indian Bank, Indira Nagar, Gachibowli, Hyderabad, Telangana 500032','English (United States)','(UTC+05:30) India','MM/DD/YYYY','12-hour (2:30 PM)',1,'INR - Indian Rupee (Γé╣)',0,1,1,1,1,'light','#0d6efd',0,0,0,'2026-03-13 06:01:44.043797',1,1,'Medium','Open',24,72,'Business Hours (9 AM - 5 PM, Mon-Fri)',0,'');
/*!40000 ALTER TABLE `dashboards_sitesettings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_auth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=93 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments_invoice`
--

DROP TABLE IF EXISTS `payments_invoice`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payments_invoice` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `invoice_number` varchar(50) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `tax_amount` decimal(10,2) NOT NULL,
  `total_amount` decimal(10,2) NOT NULL,
  `status` varchar(20) NOT NULL,
  `issue_date` date NOT NULL,
  `due_date` date NOT NULL,
  `paid_date` date DEFAULT NULL,
  `notes` longtext NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `subscription_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `invoice_number` (`invoice_number`),
  KEY `payments_invoice_subscription_id_5079ed0c_fk_superadmi` (`subscription_id`),
  CONSTRAINT `payments_invoice_subscription_id_5079ed0c_fk_superadmi` FOREIGN KEY (`subscription_id`) REFERENCES `superadmin_subscription` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments_invoice`
--

LOCK TABLES `payments_invoice` WRITE;
/*!40000 ALTER TABLE `payments_invoice` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments_invoice` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments_paymentmethod`
--

DROP TABLE IF EXISTS `payments_paymentmethod`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payments_paymentmethod` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `method_type` varchar(20) NOT NULL,
  `provider` varchar(50) NOT NULL,
  `last_four` varchar(4) NOT NULL,
  `expiry_month` int DEFAULT NULL,
  `expiry_year` int DEFAULT NULL,
  `is_default` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `payments_paymentmethod_user_id_920d7ec9_fk_auth_user_id` (`user_id`),
  CONSTRAINT `payments_paymentmethod_user_id_920d7ec9_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments_paymentmethod`
--

LOCK TABLES `payments_paymentmethod` WRITE;
/*!40000 ALTER TABLE `payments_paymentmethod` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments_paymentmethod` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments_paymentsettings`
--

DROP TABLE IF EXISTS `payments_paymentsettings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payments_paymentsettings` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `value` longtext NOT NULL,
  `description` longtext NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments_paymentsettings`
--

LOCK TABLES `payments_paymentsettings` WRITE;
/*!40000 ALTER TABLE `payments_paymentsettings` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments_paymentsettings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments_refund`
--

DROP TABLE IF EXISTS `payments_refund`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payments_refund` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `amount` decimal(10,2) NOT NULL,
  `reason` longtext NOT NULL,
  `status` varchar(20) NOT NULL,
  `refund_id` varchar(100) NOT NULL,
  `processed_date` datetime(6) DEFAULT NULL,
  `notes` longtext NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `payment_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `payments_refund_payment_id_a70693f7_fk_superadmin_payment_id` (`payment_id`),
  CONSTRAINT `payments_refund_payment_id_a70693f7_fk_superadmin_payment_id` FOREIGN KEY (`payment_id`) REFERENCES `superadmin_payment` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments_refund`
--

LOCK TABLES `payments_refund` WRITE;
/*!40000 ALTER TABLE `payments_refund` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments_refund` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `superadmin_company`
--

DROP TABLE IF EXISTS `superadmin_company`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `superadmin_company` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(200) NOT NULL,
  `email` varchar(254) NOT NULL,
  `phone` varchar(20) NOT NULL,
  `address` longtext,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `plan_id` bigint DEFAULT NULL,
  `plan_expiry_date` date DEFAULT NULL,
  `subscription_start_date` date DEFAULT NULL,
  `subscription_status` varchar(20) NOT NULL,
  `owner_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `superadmin_company_plan_id_4d68304c_fk_superadmin_plan_id` (`plan_id`),
  KEY `superadmin_company_owner_id_1ad15977_fk_auth_user_id` (`owner_id`),
  CONSTRAINT `superadmin_company_owner_id_1ad15977_fk_auth_user_id` FOREIGN KEY (`owner_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `superadmin_company_plan_id_4d68304c_fk_superadmin_plan_id` FOREIGN KEY (`plan_id`) REFERENCES `superadmin_plan` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=69 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `superadmin_company`
--

LOCK TABLES `superadmin_company` WRITE;
/*!40000 ALTER TABLE `superadmin_company` DISABLE KEYS */;
/*!40000 ALTER TABLE `superadmin_company` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `superadmin_company_users`
--

DROP TABLE IF EXISTS `superadmin_company_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `superadmin_company_users` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `company_id` bigint NOT NULL,
  `userprofile_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `superadmin_company_users_company_id_userprofile_id_a0bee070_uniq` (`company_id`,`userprofile_id`),
  KEY `superadmin_company_u_userprofile_id_05e44d5a_fk_users_use` (`userprofile_id`),
  CONSTRAINT `superadmin_company_u_company_id_b24d0726_fk_superadmi` FOREIGN KEY (`company_id`) REFERENCES `superadmin_company` (`id`),
  CONSTRAINT `superadmin_company_u_userprofile_id_05e44d5a_fk_users_use` FOREIGN KEY (`userprofile_id`) REFERENCES `users_userprofile` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `superadmin_company_users`
--

LOCK TABLES `superadmin_company_users` WRITE;
/*!40000 ALTER TABLE `superadmin_company_users` DISABLE KEYS */;
INSERT INTO `superadmin_company_users` VALUES (2,27,76),(1,40,18),(8,44,225),(9,45,227),(3,46,4),(4,60,96),(5,62,101),(6,66,161),(7,67,192);
/*!40000 ALTER TABLE `superadmin_company_users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `superadmin_notification`
--

DROP TABLE IF EXISTS `superadmin_notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `superadmin_notification` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(200) NOT NULL,
  `message` longtext NOT NULL,
  `notification_type` varchar(20) NOT NULL,
  `priority` varchar(10) NOT NULL,
  `action_url` varchar(500) DEFAULT NULL,
  `action_text` varchar(50) DEFAULT NULL,
  `is_read` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `read_at` datetime(6) DEFAULT NULL,
  `expires_at` datetime(6) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `user_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `superadmin__user_id_79fa00_idx` (`user_id`,`is_read`,`created_at`),
  KEY `superadmin__notific_fa89c6_idx` (`notification_type`,`priority`),
  KEY `superadmin__is_acti_1c7065_idx` (`is_active`,`expires_at`),
  CONSTRAINT `superadmin_notification_user_id_3240db5b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=118 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `superadmin_notification`
--

LOCK TABLES `superadmin_notification` WRITE;
/*!40000 ALTER TABLE `superadmin_notification` DISABLE KEYS */;
/*!40000 ALTER TABLE `superadmin_notification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `superadmin_notificationtemplate`
--

DROP TABLE IF EXISTS `superadmin_notificationtemplate`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `superadmin_notificationtemplate` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `subject` varchar(200) NOT NULL,
  `html_content` longtext NOT NULL,
  `text_content` longtext NOT NULL,
  `variables` json NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `superadmin_notificationtemplate`
--

LOCK TABLES `superadmin_notificationtemplate` WRITE;
/*!40000 ALTER TABLE `superadmin_notificationtemplate` DISABLE KEYS */;
/*!40000 ALTER TABLE `superadmin_notificationtemplate` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `superadmin_payment`
--

DROP TABLE IF EXISTS `superadmin_payment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `superadmin_payment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `amount` decimal(10,2) NOT NULL,
  `payment_method` varchar(20) NOT NULL,
  `payment_type` varchar(20) NOT NULL,
  `status` varchar(20) NOT NULL,
  `transaction_id` varchar(100) NOT NULL,
  `invoice_number` varchar(50) NOT NULL,
  `payment_date` datetime(6) NOT NULL,
  `gateway_response` json NOT NULL,
  `gateway_fee` decimal(10,2) NOT NULL,
  `refund_amount` decimal(10,2) NOT NULL,
  `refund_reason` longtext NOT NULL,
  `refunded_at` datetime(6) DEFAULT NULL,
  `notes` longtext NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `company_id` bigint NOT NULL,
  `created_by_id` int DEFAULT NULL,
  `subscription_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `superadmin_payment_company_id_34c1d4c4_fk_superadmin_company_id` (`company_id`),
  KEY `superadmin_payment_created_by_id_9a0f1aa3_fk_auth_user_id` (`created_by_id`),
  KEY `superadmin_payment_subscription_id_aae141ec_fk_superadmi` (`subscription_id`),
  CONSTRAINT `superadmin_payment_company_id_34c1d4c4_fk_superadmin_company_id` FOREIGN KEY (`company_id`) REFERENCES `superadmin_company` (`id`),
  CONSTRAINT `superadmin_payment_created_by_id_9a0f1aa3_fk_auth_user_id` FOREIGN KEY (`created_by_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `superadmin_payment_subscription_id_aae141ec_fk_superadmi` FOREIGN KEY (`subscription_id`) REFERENCES `superadmin_subscription` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=141 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `superadmin_payment`
--

LOCK TABLES `superadmin_payment` WRITE;
/*!40000 ALTER TABLE `superadmin_payment` DISABLE KEYS */;
/*!40000 ALTER TABLE `superadmin_payment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `superadmin_plan`
--

DROP TABLE IF EXISTS `superadmin_plan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `superadmin_plan` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `price` decimal(10,2) NOT NULL,
  `billing_cycle` varchar(10) NOT NULL,
  `users` int unsigned NOT NULL,
  `storage` varchar(50) NOT NULL,
  `status` varchar(20) NOT NULL,
  `created_date` date NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `superadmin_plan_chk_1` CHECK ((`users` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `superadmin_plan`
--

LOCK TABLES `superadmin_plan` WRITE;
/*!40000 ALTER TABLE `superadmin_plan` DISABLE KEYS */;
INSERT INTO `superadmin_plan` VALUES (3,'Basic',199.00,'monthly',6,'10GB','active','2025-12-26',1),(4,'Standard',399.00,'monthly',15,'50GB','active','2025-12-26',1),(5,'Premium',599.00,'monthly',25,'100GB','active','2025-12-26',1),(19,'Cleanup Test Plan',29.99,'monthly',5,'10GB','active','2026-01-04',1),(25,'Test Plan',199.00,'monthly',10,'100GB','active','2026-01-07',1);
/*!40000 ALTER TABLE `superadmin_plan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `superadmin_subscription`
--

DROP TABLE IF EXISTS `superadmin_subscription`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `superadmin_subscription` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `status` varchar(20) NOT NULL,
  `billing_cycle` varchar(10) NOT NULL,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `next_billing_date` date DEFAULT NULL,
  `cancelled_at` datetime(6) DEFAULT NULL,
  `base_price` decimal(10,2) NOT NULL,
  `discount_amount` decimal(10,2) NOT NULL,
  `tax_amount` decimal(10,2) NOT NULL,
  `total_amount` decimal(10,2) NOT NULL,
  `auto_renew` tinyint(1) NOT NULL,
  `trial_end_date` datetime(6) DEFAULT NULL,
  `notes` longtext NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `company_id` bigint NOT NULL,
  `plan_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `superadmin_subscript_company_id_bca863bf_fk_superadmi` (`company_id`),
  KEY `superadmin_subscription_plan_id_383ae4b9_fk_superadmin_plan_id` (`plan_id`),
  CONSTRAINT `superadmin_subscript_company_id_bca863bf_fk_superadmi` FOREIGN KEY (`company_id`) REFERENCES `superadmin_company` (`id`),
  CONSTRAINT `superadmin_subscription_plan_id_383ae4b9_fk_superadmin_plan_id` FOREIGN KEY (`plan_id`) REFERENCES `superadmin_plan` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=148 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `superadmin_subscription`
--

LOCK TABLES `superadmin_subscription` WRITE;
/*!40000 ALTER TABLE `superadmin_subscription` DISABLE KEYS */;
/*!40000 ALTER TABLE `superadmin_subscription` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `superadmin_subscriptionmetrics`
--

DROP TABLE IF EXISTS `superadmin_subscriptionmetrics`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `superadmin_subscriptionmetrics` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `date` date NOT NULL,
  `active_subscriptions` int unsigned NOT NULL,
  `new_subscriptions` int unsigned NOT NULL,
  `cancelled_subscriptions` int unsigned NOT NULL,
  `churn_rate` decimal(5,2) NOT NULL,
  `monthly_revenue` decimal(10,2) NOT NULL,
  `mrr` decimal(10,2) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `superadmin_subscriptionmetrics_chk_1` CHECK ((`active_subscriptions` >= 0)),
  CONSTRAINT `superadmin_subscriptionmetrics_chk_2` CHECK ((`new_subscriptions` >= 0)),
  CONSTRAINT `superadmin_subscriptionmetrics_chk_3` CHECK ((`cancelled_subscriptions` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `superadmin_subscriptionmetrics`
--

LOCK TABLES `superadmin_subscriptionmetrics` WRITE;
/*!40000 ALTER TABLE `superadmin_subscriptionmetrics` DISABLE KEYS */;
/*!40000 ALTER TABLE `superadmin_subscriptionmetrics` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `superadmin_superadminsettings`
--

DROP TABLE IF EXISTS `superadmin_superadminsettings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `superadmin_superadminsettings` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `profile_name` varchar(100) NOT NULL,
  `profile_email` varchar(254) NOT NULL,
  `profile_phone` varchar(20) NOT NULL,
  `email_notifications` tinyint(1) NOT NULL,
  `in_app_notifications` tinyint(1) NOT NULL,
  `push_notifications` tinyint(1) NOT NULL,
  `two_factor_enabled` tinyint(1) NOT NULL,
  `profile_visibility` varchar(20) NOT NULL,
  `dark_mode` tinyint(1) NOT NULL,
  `language` varchar(5) NOT NULL,
  `timezone` varchar(10) NOT NULL,
  `currency` varchar(3) NOT NULL,
  `maintenance_mode` tinyint(1) NOT NULL,
  `user_registration` tinyint(1) NOT NULL,
  `email_verification` tinyint(1) NOT NULL,
  `remember_me` tinyint(1) NOT NULL,
  `show_tutorial` tinyint(1) NOT NULL,
  `default_ticket_status` varchar(50) NOT NULL,
  `default_ticket_priority` varchar(20) NOT NULL,
  `auto_ticket_assignment` tinyint(1) NOT NULL,
  `allow_ticket_reopen` tinyint(1) NOT NULL,
  `first_response_hours` int NOT NULL,
  `resolution_time_hours` int NOT NULL,
  `sla_business_hours` varchar(100) NOT NULL,
  `theme` varchar(10) NOT NULL,
  `primary_color` varchar(7) NOT NULL,
  `fixed_header` tinyint(1) NOT NULL,
  `fixed_sidebar` tinyint(1) NOT NULL,
  `collapsed_sidebar` tinyint(1) NOT NULL,
  `company_name` varchar(200) NOT NULL,
  `website_url` varchar(200) NOT NULL,
  `contact_email` varchar(254) NOT NULL,
  `contact_phone` varchar(50) NOT NULL,
  `address` longtext NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `user_id` int NOT NULL,
  `company_logo` varchar(100) DEFAULT NULL,
  `sidebar_logo` varchar(100) DEFAULT NULL,
  `collapsed_logo` tinyint(1) NOT NULL,
  `profile_address` longtext NOT NULL DEFAULT (_utf8mb3''),
  `department` varchar(100) NOT NULL,
  `role` varchar(100) NOT NULL,
  `employee_id` varchar(20) NOT NULL,
  `join_date` date DEFAULT NULL,
  `skills` longtext NOT NULL DEFAULT (_utf8mb3''),
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `superadmin_superadminsettings_user_id_06429517_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `superadmin_superadminsettings`
--

LOCK TABLES `superadmin_superadminsettings` WRITE;
/*!40000 ALTER TABLE `superadmin_superadminsettings` DISABLE KEYS */;
/*!40000 ALTER TABLE `superadmin_superadminsettings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tickets_chatmessage`
--

DROP TABLE IF EXISTS `tickets_chatmessage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tickets_chatmessage` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `text` longtext NOT NULL,
  `is_read` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `recipient_id` int NOT NULL,
  `sender_id` int NOT NULL,
  `ticket_id` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `tickets_chatmessage_recipient_id_83d9611e_fk_auth_user_id` (`recipient_id`),
  KEY `tickets_chatmessage_sender_id_822509e7_fk_auth_user_id` (`sender_id`),
  CONSTRAINT `tickets_chatmessage_recipient_id_83d9611e_fk_auth_user_id` FOREIGN KEY (`recipient_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `tickets_chatmessage_sender_id_822509e7_fk_auth_user_id` FOREIGN KEY (`sender_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=162 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tickets_chatmessage`
--

LOCK TABLES `tickets_chatmessage` WRITE;
/*!40000 ALTER TABLE `tickets_chatmessage` DISABLE KEYS */;
/*!40000 ALTER TABLE `tickets_chatmessage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tickets_chatmessageattachment`
--

DROP TABLE IF EXISTS `tickets_chatmessageattachment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tickets_chatmessageattachment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `file` varchar(100) NOT NULL,
  `uploaded_at` datetime(6) NOT NULL,
  `message_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `tickets_chatmessagea_message_id_5462a2bb_fk_tickets_c` (`message_id`),
  CONSTRAINT `tickets_chatmessagea_message_id_5462a2bb_fk_tickets_c` FOREIGN KEY (`message_id`) REFERENCES `tickets_chatmessage` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tickets_chatmessageattachment`
--

LOCK TABLES `tickets_chatmessageattachment` WRITE;
/*!40000 ALTER TABLE `tickets_chatmessageattachment` DISABLE KEYS */;
/*!40000 ALTER TABLE `tickets_chatmessageattachment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tickets_mutedchat`
--

DROP TABLE IF EXISTS `tickets_mutedchat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tickets_mutedchat` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `muted_at` datetime(6) NOT NULL,
  `contact_id` int NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `tickets_mutedchat_user_id_contact_id_cd7f717d_uniq` (`user_id`,`contact_id`),
  KEY `tickets_mutedchat_contact_id_617fe04a_fk_auth_user_id` (`contact_id`),
  CONSTRAINT `tickets_mutedchat_contact_id_617fe04a_fk_auth_user_id` FOREIGN KEY (`contact_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `tickets_mutedchat_user_id_006e3dac_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tickets_mutedchat`
--

LOCK TABLES `tickets_mutedchat` WRITE;
/*!40000 ALTER TABLE `tickets_mutedchat` DISABLE KEYS */;
/*!40000 ALTER TABLE `tickets_mutedchat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tickets_ticket`
--

DROP TABLE IF EXISTS `tickets_ticket`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tickets_ticket` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ticket_id` varchar(20) NOT NULL,
  `title` varchar(255) NOT NULL,
  `description` longtext NOT NULL,
  `status` varchar(20) NOT NULL,
  `priority` varchar(20) NOT NULL,
  `category` varchar(100) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `assigned_to_id` int DEFAULT NULL,
  `created_by_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ticket_id` (`ticket_id`),
  KEY `tickets_ticket_assigned_to_id_142e13bf_fk_auth_user_id` (`assigned_to_id`),
  KEY `tickets_ticket_created_by_id_c418a145_fk_auth_user_id` (`created_by_id`),
  CONSTRAINT `tickets_ticket_assigned_to_id_142e13bf_fk_auth_user_id` FOREIGN KEY (`assigned_to_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `tickets_ticket_created_by_id_c418a145_fk_auth_user_id` FOREIGN KEY (`created_by_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=93 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tickets_ticket`
--

LOCK TABLES `tickets_ticket` WRITE;
/*!40000 ALTER TABLE `tickets_ticket` DISABLE KEYS */;
/*!40000 ALTER TABLE `tickets_ticket` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tickets_ticketattachment`
--

DROP TABLE IF EXISTS `tickets_ticketattachment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tickets_ticketattachment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `file` varchar(100) NOT NULL,
  `uploaded_at` datetime(6) NOT NULL,
  `ticket_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `tickets_ticketattachment_ticket_id_55842ab7_fk_tickets_ticket_id` (`ticket_id`),
  CONSTRAINT `tickets_ticketattachment_ticket_id_55842ab7_fk_tickets_ticket_id` FOREIGN KEY (`ticket_id`) REFERENCES `tickets_ticket` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tickets_ticketattachment`
--

LOCK TABLES `tickets_ticketattachment` WRITE;
/*!40000 ALTER TABLE `tickets_ticketattachment` DISABLE KEYS */;
INSERT INTO `tickets_ticketattachment` VALUES (1,'ticket_attachments/image_1.jpg','2025-12-19 10:12:20.566839',44);
/*!40000 ALTER TABLE `tickets_ticketattachment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tickets_ticketcomment`
--

DROP TABLE IF EXISTS `tickets_ticketcomment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tickets_ticketcomment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `content` longtext NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `is_internal` tinyint(1) NOT NULL,
  `author_id` int NOT NULL,
  `ticket_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `tickets_tic_ticket__254c10_idx` (`ticket_id`,`created_at`),
  KEY `tickets_tic_author__c5a0ce_idx` (`author_id`,`created_at`),
  CONSTRAINT `tickets_ticketcomment_author_id_b65344b0_fk_auth_user_id` FOREIGN KEY (`author_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `tickets_ticketcomment_ticket_id_ef1ee786_fk_tickets_ticket_id` FOREIGN KEY (`ticket_id`) REFERENCES `tickets_ticket` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tickets_ticketcomment`
--

LOCK TABLES `tickets_ticketcomment` WRITE;
/*!40000 ALTER TABLE `tickets_ticketcomment` DISABLE KEYS */;
/*!40000 ALTER TABLE `tickets_ticketcomment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tickets_ticketstatushistory`
--

DROP TABLE IF EXISTS `tickets_ticketstatushistory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tickets_ticketstatushistory` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `old_status` varchar(50) NOT NULL,
  `new_status` varchar(50) NOT NULL,
  `changed_at` datetime(6) NOT NULL,
  `changed_by_id` int DEFAULT NULL,
  `ticket_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `tickets_ticketstatus_changed_by_id_5ac84525_fk_auth_user` (`changed_by_id`),
  KEY `tickets_ticketstatus_ticket_id_fd56db44_fk_tickets_t` (`ticket_id`),
  CONSTRAINT `tickets_ticketstatus_changed_by_id_5ac84525_fk_auth_user` FOREIGN KEY (`changed_by_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `tickets_ticketstatus_ticket_id_fd56db44_fk_tickets_t` FOREIGN KEY (`ticket_id`) REFERENCES `tickets_ticket` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tickets_ticketstatushistory`
--

LOCK TABLES `tickets_ticketstatushistory` WRITE;
/*!40000 ALTER TABLE `tickets_ticketstatushistory` DISABLE KEYS */;
/*!40000 ALTER TABLE `tickets_ticketstatushistory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tickets_userrating`
--

DROP TABLE IF EXISTS `tickets_userrating`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tickets_userrating` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ticket_reference` varchar(50) NOT NULL,
  `rating` smallint unsigned NOT NULL,
  `title` varchar(200) NOT NULL,
  `content` longtext NOT NULL,
  `recommend` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `user_id` int NOT NULL,
  `agent_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `tickets_userrating_user_id_c2cbfbe3_fk_auth_user_id` (`user_id`),
  KEY `tickets_userrating_agent_id_ae09295d_fk_auth_user_id` (`agent_id`),
  CONSTRAINT `tickets_userrating_agent_id_ae09295d_fk_auth_user_id` FOREIGN KEY (`agent_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `tickets_userrating_user_id_c2cbfbe3_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `tickets_userrating_chk_1` CHECK ((`rating` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tickets_userrating`
--

LOCK TABLES `tickets_userrating` WRITE;
/*!40000 ALTER TABLE `tickets_userrating` DISABLE KEYS */;
/*!40000 ALTER TABLE `tickets_userrating` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_role`
--

DROP TABLE IF EXISTS `users_role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_role` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_role`
--

LOCK TABLES `users_role` WRITE;
/*!40000 ALTER TABLE `users_role` DISABLE KEYS */;
INSERT INTO `users_role` VALUES (1,'Admin'),(2,'Agent'),(5,'Customer'),(4,'SuperAdmin'),(7,'Test'),(3,'User');
/*!40000 ALTER TABLE `users_role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_userprofile`
--

DROP TABLE IF EXISTS `users_userprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_userprofile` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `phone` varchar(15) DEFAULT NULL,
  `department` varchar(100) DEFAULT NULL,
  `profile_picture` varchar(100) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL,
  `role_id` bigint DEFAULT NULL,
  `user_id` int NOT NULL,
  `allow_dm_from_non_contacts` tinyint(1) NOT NULL,
  `dark_mode` tinyint(1) NOT NULL,
  `desktop_notifications` tinyint(1) NOT NULL,
  `email_notifications` tinyint(1) NOT NULL,
  `show_activity_status` tinyint(1) NOT NULL,
  `theme` varchar(20) NOT NULL,
  `last_active` datetime(6) DEFAULT NULL,
  `address` longtext,
  `city` varchar(100) DEFAULT NULL,
  `country` varchar(100) DEFAULT NULL,
  `state` varchar(100) DEFAULT NULL,
  `date_of_birth` date DEFAULT NULL,
  `gender` varchar(20) DEFAULT NULL,
  `login_alerts` tinyint(1) NOT NULL,
  `security_alerts` tinyint(1) NOT NULL,
  `session_timeout` int NOT NULL,
  `two_factor_enabled` tinyint(1) NOT NULL,
  `employee_id` varchar(50) DEFAULT NULL,
  `join_date` date DEFAULT NULL,
  `skills` longtext,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  KEY `users_userprofile_role_id_e1b6eebd_fk_users_role_id` (`role_id`),
  CONSTRAINT `users_userprofile_role_id_e1b6eebd_fk_users_role_id` FOREIGN KEY (`role_id`) REFERENCES `users_role` (`id`),
  CONSTRAINT `users_userprofile_user_id_87251ef1_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=230 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_userprofile`
--

LOCK TABLES `users_userprofile` WRITE;
/*!40000 ALTER TABLE `users_userprofile` DISABLE KEYS */;
/*!40000 ALTER TABLE `users_userprofile` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-21 17:00:25
